
@{
    ViewBag.Title = "RequestForPaperApprovel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header row no-gutters py-4 mb-3 border-bottom">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Paper</span>
        <h3 class="page-title">Upload Paper</h3>
    </div>
</div>
<!-- End Page Header -->
<div class="row">
    <!-- Users Stats -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-small">
            <div class="card-header border-bottom">
                <h6 class="m-0">Users</h6>
            </div>
           
        </div>
    </div>
    <!-- End Users Stats -->
</div>



